
.input-block-level {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 28px;
    width: 100%;
}
.block-level {
    -moz-box-sizing: border-box;
    display: block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.block-level + .block-level {
    margin-top: 8px;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
html {
    font-size: 100%;
}
a:focus {
    outline: thin dotted currentcolor;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0 none;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#map_canvas img, .google-maps img {
    max-width: none;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
button, input {
    line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
* {
    background: none repeat scroll 0 0 transparent !important;
    box-shadow: none !important;
    color: #000000 !important;
    text-shadow: none !important;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
body {
    background-color: #FFFFFF;
    color: #404040;
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
    font-size: 14.5px;
    line-height: 20.5px;
    margin: 0;
}
a {
    color: #006699;
    text-decoration: none;
}
a:hover {
    color: #A1000C;
    text-decoration: underline;
}
.grid-wrapper {
    float: left;
    margin-left: 0;
}
.row-flush-right {
    margin-right: -28px;
}
.row-flush-right .span-flush-right {
    padding-right: 28px;
}
.gutter {
    margin-left: 28px;
}
.gutter-right {
    margin-right: 14px;
}
.box-content {
    padding: 20px 28px;
}
.pull-right[class*="span"] {
    float: right;
}
.row-fluid.row-block {
    list-style: none outside none;
    margin-left: 0;
}
.row-fluid.row-block > li.span6:nth-child(2n+1), .row-fluid.row-block > li.span4:nth-child(3n+1), .row-fluid.row-block > li.span3:nth-child(4n+1), .row-fluid.row-block > li.span2:nth-child(6n+1) {
    clear: left;
    margin-left: 0;
}
.row {
    margin-left: -28px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 28px;
}
.span1 {
    width: 50px;
}
.span2 {
    width: 128px;
}
.span3 {
    width: 206px;
}
.span4 {
    width: 284px;
}
.span5 {
    width: 362px;
}
.span6 {
    width: 440px;
}
.span7 {
    width: 518px;
}
.span8 {
    width: 596px;
}
.span9 {
    width: 674px;
}
.span10 {
    width: 752px;
}
.span11 {
    width: 830px;
}
.span12, .container {
    width: 908px;
}
.offset1 {
    margin-left: 106px;
}
.offset2 {
    margin-left: 184px;
}
.offset3 {
    margin-left: 262px;
}
.offset4 {
    margin-left: 340px;
}
.offset5 {
    margin-left: 418px;
}
.offset6 {
    margin-left: 496px;
}
.offset7 {
    margin-left: 574px;
}
.offset8 {
    margin-left: 652px;
}
.offset9 {
    margin-left: 730px;
}
.offset10 {
    margin-left: 808px;
}
.offset11 {
    margin-left: 886px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.128%;
}
.row-fluid > [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid > .span1 {
    width: 6.383%;
}
.row-fluid > .span2 {
    width: 14.894%;
}
.row-fluid > .span3 {
    width: 23.404%;
}
.row-fluid > .span4 {
    width: 31.915%;
}
.row-fluid > .span5 {
    width: 40.426%;
}
.row-fluid > .span6 {
    width: 48.936%;
}
.row-fluid > .span7 {
    width: 57.447%;
}
.row-fluid > .span8 {
    width: 65.957%;
}
.row-fluid > .span9 {
    width: 74.468%;
}
.row-fluid > .span10 {
    width: 82.979%;
}
.row-fluid > .span11 {
    width: 91.489%;
}
.row-fluid > .span12 {
    width: 100%;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 908px;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.container:after {
    clear: both;
}
.container-fluid {
    padding-left: 28px;
    padding-right: 28px;
}
.container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
}
.container-fluid:after {
    clear: both;
}
p {
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
    font-size: 14.5px;
    margin: 0 0 20.5px;
}
p small {
    color: #999999;
    font-size: 13.5px;
}
.lead {
    font-size: 20px;
    font-weight: 200;
    line-height: 30.75px;
    margin-bottom: 20.5px;
}
p.larger, pre.larger {
    font-size: 17px;
    line-height: 24.6px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin: 0;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
}
h3 + h4, h3 + h5, h4 + h5 {
    padding-top: 6.833px;
}
h1 {
    font-size: 32.625px;
    line-height: 41px;
    margin-bottom: 12.5px;
}
h2 {
    font-size: 23.49px;
    line-height: 35.875px;
    margin-bottom: 5.857px;
}
h3 {
    font-size: 20.01px;
    line-height: 30.75px;
    margin-bottom: 5.857px;
}
h3 small {
    font-size: 14.5px;
}
h4 {
    font-size: 17.11px;
    line-height: 20.5px;
    margin-bottom: 6.833px;
}
h4 small {
    font-size: 12.76px;
}
h5 {
    font-size: 14.5px;
    font-weight: bold;
    line-height: 20.5px;
    margin-bottom: 6.833px;
    text-transform: uppercase;
}
h6 {
    font-size: 12.325px;
    font-weight: bold;
    line-height: 20.5px;
    text-transform: uppercase;
}
h1 {
    font-size: 24px;
    line-height: 30.75px;
}
h2 {
    font-size: 19.5px;
    line-height: 25.625px;
}
h3 {
    font-size: 16.5px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
footer h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}
.align-right {
    text-align: right;
}
aside, aside p {
    font-size: 13.5px;
}
.table td > *:last-child {
    margin-bottom: 0;
}
ul, ol {
    margin: 0 0 24.5px 24.5px;
    padding: 0;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc outside none;
}
ul ul {
    list-style-type: circle;
}
ul ul ul {
    list-style-type: square;
}
ol {
    list-style: decimal outside none;
}
li {
    margin-bottom: 2px;
}
ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
ul.spaced-items > li, ol.spaced-items > li {
    margin-bottom: 13px;
}
p + ul, p + ol {
    margin-top: -5px;
}
dl {
    margin-bottom: 20.5px;
}
dt, dd {
    line-height: 20.5px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 0 10px 10px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B4B4B2 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 20.5px 0;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
.muted {
    color: #999999;
}
abbr {
    border-bottom: 1px dotted #999999;
    cursor: help;
    text-transform: uppercase;
}
abbr[title="required"] {
    border: 0 none;
}
blockquote {
    border-left: 5px solid #EDEDED;
    margin: 0 0 20.5px;
    padding: 0 0 0 15px;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25.625px;
    margin-bottom: 0;
}
blockquote small {
    color: #999999;
    display: block;
    line-height: 20.5px;
}
blockquote small:before {
    content: "— ";
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #EDEDED;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
address {
    display: block;
    font-style: normal;
    line-height: 20.5px;
    margin-bottom: 20.5px;
}
small {
    font-size: 100%;
}
cite {
    font-style: normal;
}
.smaller {
    font-size: 13.5px;
}
a.external:after {
    content: "➚";
    font-size: 13.5px;
    vertical-align: text-bottom;
}
a.external img[alt="external"] {
    display: none;
}
dl.larger > dt {
    font-size: 20px;
    line-height: 30.75px;
}
dl.larger > dd {
    margin-bottom: 20px;
}
figure {
    margin: 0;
    padding: 0;
}
body {
    word-wrap: break-word;
}
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
ul.regular, ol.regular {
    margin: 0 0 9px 30px;
    padding: 0;
}
ul.unstyled-flat {
    list-style: none outside none;
}
ul.unstyled-flat > li {
    float: left;
    list-style: none outside none;
}
.headline, .nav, .section-top, .btn-navbar {
    font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}
.section {
    margin-bottom: 30px;
}
.wrap {
    white-space: normal !important;
}
a.link-block {
    display: block;
    text-decoration: none;
}
code, pre {
    border-radius: 0 0 0 0;
    color: #484848;
    font-family: Menlo,Monaco,"Liberation Mono",Consolas,monospace;
    font-size: 13.5px;
    padding: 0 3px 2px;
}
code {
    background-color: #EFF1F1;
    border: 1px solid #D4D9D9;
    color: #3B3B3B;
    padding: 1px 4px;
}
pre, .column-content div.geshifilter pre {
    background-color: #EFF1F1;
    border-left: 2px solid rgba(120, 120, 120, 0.35);
    border-radius: 0 0 0 0;
    display: block;
    font-family: Menlo,Monaco,"Liberation Mono",Consolas,monospace !important;
    line-height: 20.5px;
    margin: 0 0 20.5px;
    overflow: auto;
    padding: 13.667px 20.5px;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: break-word;
}
pre.prettyprint, .column-content div.geshifilter pre.prettyprint {
    margin-bottom: 20.5px;
}
pre code, .column-content div.geshifilter pre code {
    background-color: transparent;
    border: 0 none;
    color: inherit;
    padding: 0;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
pre.pre-scrollable-horizontal {
    overflow-x: auto;
    white-space: nowrap;
}
.column-content div.geshifilter {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
}
form {
    margin: 0 0 20.5px;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EDEDED;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #2F2F2F;
    display: block;
    font-size: 20.01px;
    line-height: 41px;
    margin-bottom: 30.75px;
    padding: 0;
    width: 100%;
}
legend small {
    color: #999999;
    font-size: 15.375px;
}
label, input, button, select, textarea {
    font-size: 14.5px;
    font-weight: normal;
    line-height: 20.5px;
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label {
    color: #2F2F2F;
    display: block;
    margin-bottom: 2px;
}
select, textarea, input, .uneditable-input {
    border-radius: 3px 3px 3px 3px;
    color: #2F2F2F;
    display: inline-block;
    font-size: 14px;
    line-height: 20.5px;
    margin-bottom: 9px;
    min-height: 20.5px;
    padding: 4px;
}
input, textarea, .uneditable-input {
    width: 206px;
}
textarea {
    height: auto;
}
select, textarea, input, .uneditable-input {
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
select:focus, textarea:focus, input:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
    line-height: normal;
    margin: 4px 0 0;
}
input[type="file"], input[type="image"], input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
    width: auto;
}
select, input[type="file"] {
    height: 28px;
    line-height: 28px;
}
input[type="file"] {
    min-width: 275px;
    text-align: left;
}
select[multiple], select[size] {
    height: auto;
}
input[type="image"] {
    box-shadow: none;
}
input[type="hidden"] {
    display: none;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    box-shadow: none;
    outline: thin dotted currentcolor;
    outline-offset: -2px;
}
.uneditable-input, .uneditable-textarea {
    background-color: #F7F7F7;
    border-color: #CCCCCC;
    color: #999999;
    cursor: not-allowed;
}
.uneditable-input {
    overflow: hidden;
    white-space: nowrap;
}
.uneditable-textarea {
    height: auto;
    width: auto;
}
label input, label textarea, label select {
    display: block;
}
input *:-moz-placeholder, textarea *:-moz-placeholder {
    color: #999999;
}
.radio, .checkbox {
    min-height: 18px;
    padding-left: 18px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    margin-left: -18px;
    margin-top: 0;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
    padding-top: 5px;
}
.radio.inline, .checkbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    vertical-align: middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
    margin-left: 10px;
}
.input-mini {
    width: 60px;
}
.input-small {
    width: 90px;
}
.input-medium {
    width: 150px;
}
.input-large {
    width: 210px;
}
.input-xlarge {
    width: 270px;
}
.input-xxlarge {
    width: 530px;
}
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"] {
    float: none;
    margin-left: 0;
}
.input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
    display: inline-block;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 40px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 118px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 196px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 274px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 352px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 430px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 508px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 586px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 664px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 742px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 820px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 898px;
}
.controls-row {
}
.controls-row:before, .controls-row:after {
    content: "";
    display: table;
}
.controls-row:after {
    clear: both;
}
.controls-row [class*="span"] {
    float: left;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #444444;
    cursor: not-allowed;
}
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] {
    background-color: transparent;
}
.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
    color: #222222;
}
.control-group.warning input.warning, .control-group.warning select.warning, .control-group.warning textarea.warning {
    border-color: #222222;
    color: #222222;
}
.control-group.warning input.warning:focus, .control-group.warning select.warning:focus, .control-group.warning textarea.warning:focus {
    border-color: #090909;
    box-shadow: 0 0 6px #555555;
}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
    background-color: #FFD24E;
    border-color: #222222;
    color: #222222;
}
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #FFFFFF;
}
.control-group.error input.error, .control-group.error select.error, .control-group.error textarea.error {
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.control-group.error input.error:focus, .control-group.error select.error:focus, .control-group.error textarea.error:focus {
    border-color: #E6E6E6;
    box-shadow: 0 0 6px #FFFFFF;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
    background-color: #CD1E25;
    border-color: #FFFFFF;
    color: #FFFFFF;
}
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #222222;
}
.control-group.success input.success, .control-group.success select.success, .control-group.success textarea.success {
    border-color: #222222;
    color: #222222;
}
.control-group.success input.success:focus, .control-group.success select.success:focus, .control-group.success textarea.success:focus {
    border-color: #090909;
    box-shadow: 0 0 6px #555555;
}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
    background-color: #8ACA1A;
    border-color: #222222;
    color: #222222;
}
.control-group.info > label, .control-group.info .help-block, .control-group.info .help-inline {
    color: #222222;
}
.control-group.info input.info, .control-group.info select.info, .control-group.info textarea.info {
    border-color: #222222;
    color: #222222;
}
.control-group.info input.info:focus, .control-group.info select.info:focus, .control-group.info textarea.info:focus {
    border-color: #090909;
    box-shadow: 0 0 6px #555555;
}
.control-group.info .input-prepend .add-on, .control-group.info .input-append .add-on {
    background-color: #7FC3E1;
    border-color: #222222;
    color: #222222;
}
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    background-color: #FFFFFF;
    background-position: right center;
}
input:focus:required:valid, select:focus:required:valid, textarea:focus:required:valid {
    background-color: #FFFFFF;
    border: 1px solid #8ACA1A;
}
.form-actions {
    margin-bottom: 0;
    padding: 15px 0 10px;
}
.form-actions:before, .form-actions:after {
    content: "";
    display: table;
}
.form-actions:after {
    clear: both;
}
.uneditable-input {
    background-color: #FFFFFF;
    border-color: #EEEEEE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
    cursor: not-allowed;
    display: block;
}
.help-block, .help-inline {
    color: #666666;
}
.help-block {
    display: block;
    margin-bottom: 0;
    margin-top: 5px;
}
.help-inline {
    display: inline-block;
    margin-bottom: 9px;
    padding-left: 5px;
    vertical-align: middle;
}
.input-append, .input-prepend {
    font-size: 0;
    margin-bottom: 5px;
    white-space: nowrap;
}
.input-append input, .input-append select, .input-append .uneditable-input, .input-prepend input, .input-prepend select, .input-prepend .uneditable-input {
    border-left: 0 none;
    border-radius: 0 3px 3px 0;
    font-size: 14.5px;
    margin-bottom: 0;
    position: relative;
    vertical-align: top;
}
.input-append input:focus, .input-append select:focus, .input-append .uneditable-input:focus, .input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus {
    z-index: 2;
}
.input-append .add-on, .input-prepend .add-on {
    background-color: #444444;
    border: 1px solid #222222;
    color: #999999;
    display: inline-block;
    font-size: 14.5px;
    font-weight: normal;
    height: 20.5px;
    line-height: 20.5px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    width: auto;
}
.input-append .add-on, .input-append .btn, .input-prepend .add-on, .input-prepend .btn {
    border-radius: 0 0 0 0;
    vertical-align: bottom;
}
.input-append .active, .input-prepend .active {
    background-color: #A9DBA9;
    border-color: #46A546;
}
.input-prepend .add-on, .input-prepend .btn {
    margin-right: -1px;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
    border-radius: 3px 0 0 3px;
}
.input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 3px 0 0 3px;
}
.input-append .add-on, .input-append .btn {
    margin-left: -1px;
}
.input-append .add-on:last-child, .input-append .btn:last-child {
    border-radius: 0 3px 3px 0;
}
.input-prepend.input-append {
}
.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
    border-radius: 0 0 0 0;
    border-right: 0 none;
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
}
.input-prepend.input-append .add-on-middle {
    background-color: #FAFAFA;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #444444;
    display: inline-table;
    font-size: 14.5px;
    margin: 0 -1px;
    padding: 8px 2px;
    width: auto;
}
.input-prepend.input-append:before, .input-prepend.input-append:after {
    content: "";
    display: table;
}
.input-prepend.input-append:after {
    clear: both;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
    color: inherit !important;
}
input.search-query {
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 0;
    padding-left: 14px;
    padding-right: 14px;
}
.form-search .input-append .search-query, .form-search .input-prepend .search-query {
    border-radius: 0 0 0 0;
}
.form-search .input-append .search-query {
    border-radius: 14px 0 0 14px;
}
.form-search .input-append .btn {
    border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .search-query {
    border-radius: 0 14px 14px 0;
}
.form-search .input-prepend .btn {
    border-radius: 14px 0 0 14px;
}
.form-search input, .form-search textarea, .form-search select, .form-search .help-inline, .form-search .uneditable-input, .form-search .input-prepend, .form-search .input-append, .form-inline input, .form-inline textarea, .form-inline select, .form-inline .help-inline, .form-inline .uneditable-input, .form-inline .input-prepend, .form-inline .input-append, .form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input, .form-horizontal .input-prepend, .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
    display: none;
}
.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
    display: inline-block;
}
.form-search .input-append, .form-inline .input-append, .form-search .input-prepend, .form-inline .input-prepend {
    margin-bottom: 0;
}
.form-search .radio, .form-search .checkbox, .form-inline .radio, .form-inline .checkbox {
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
}
.form-search .radio input[type="radio"], .form-search .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0;
    margin-right: 3px;
}
.controls, .control-group {
    position: relative;
}
.control-group {
    margin-bottom: 13.667px;
}
legend + .control-group {
    margin-top: 20.5px;
}
.form-horizontal .control-group {
    margin-bottom: 10.25px;
}
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    content: "";
    display: table;
}
.form-horizontal .control-group:after {
    clear: both;
}
.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}
.form-horizontal .controls {
    margin-left: 180px;
}
.form-horizontal .controls:first-child {
}
.form-horizontal .help-block {
    margin-bottom: 0;
}
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block {
    margin-top: 10.25px;
}
.form-horizontal .form-actions {
    padding-left: 180px;
}
.control-group-important {
    font-size: 15px;
}
.control-group-important input[type="text"], .control-group-important input[type="password"], .control-group-important input[type="datetime"], .control-group-important input[type="datetime-local"], .control-group-important input[type="date"], .control-group-important input[type="month"], .control-group-important input[type="time"], .control-group-important input[type="week"], .control-group-important input[type="number"], .control-group-important input[type="email"], .control-group-important input[type="url"], .control-group-important input[type="search"], .control-group-important input[type="tel"], .control-group-important input[type="color"], .control-group-important textarea, .control-group-important select, .control-group-important .uneditable-input, .control-group-important .add-on, .control-group-important .add-on-first, .control-group-important .add-on-last, .control-group-important .add-on-middle {
    font-size: 15px;
    padding: 8px 10px;
}
.control-group-important label.control-label, .control-group-important label {
    font-size: 15px;
}
.control-group-important .add-on.middle {
    padding-left: 0;
    padding-right: 0;
}
.control-group-important select {
    height: 36px;
}
input[readonly], select[readonly], textarea[readonly] {
    background-color: inherit !important;
    border: 1px dotted #444444 !important;
    border-radius: 0 0 0 0 !important;
    color: #BABBBC !important;
    cursor: inherit;
}
.input-copyable {
    -moz-box-sizing: border-box;
    background-color: inherit;
    border: 1px dotted #444444;
    border-radius: 0 0 0 0;
    color: #BABBBC;
    cursor: inherit;
    height: 28px;
    width: 100%;
}
.form-important .control-group {
    margin-bottom: 14px;
}
.form-important .controls {
    margin-left: 140px;
}
.form-important input.expand {
    max-width: -moz-available;
    width: auto;
}
.form-important input.narrow {
    width: 140px;
}
.form-important .controls > h3 {
    color: #FAFBFC;
    margin-bottom: 0;
    margin-top: 5px;
}
.form-important .controls > h3 > small {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.form-important .controls > h3 > select {
    margin-top: -5px;
}
.form-important .control-label {
    color: #949494;
    margin-left: 15px;
    text-align: left;
    width: 120px;
}
.form-important .error > .control-label {
    color: #CD1E25;
}
.form-important .help-block {
    color: #949494;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.2s ease 0s;
}
.form-important .alert {
    max-width: 500px;
}
.form-important .form-actions {
    padding-left: 140px;
}
.form-important h3 .font-icon {
    margin-left: 25px;
}
.form-important .control-label {
    margin-left: 0;
}
.form-important .controls {
    margin-left: 0;
}
.form-important .help-block {
    max-width: inherit;
    white-space: normal;
}
.form-important .alert {
    max-width: inherit;
}
.form-important .controls > h3 {
    display: inline-block;
    margin-top: 0;
}
.form-important .form-actions {
    padding-left: 10px;
}
.form-important h3 .font-icon {
    margin-left: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table {
    margin-bottom: 20.5px;
    width: 100%;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 20.5px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table thead:first-child tr th, .table thead:first-child tr td {
    border-top: 0 none;
}
.table tbody + tbody {
    border-top: 2px solid #DDDDDD;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
}
.table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
    border-left: 1px solid #DDDDDD;
}
.table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0 none;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    border-radius: 0 4px 0 0;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #F5F5F5;
}
table .span1 {
    float: none;
    margin-left: 0;
    width: 34px;
}
table .span2 {
    float: none;
    margin-left: 0;
    width: 112px;
}
table .span3 {
    float: none;
    margin-left: 0;
    width: 190px;
}
table .span4 {
    float: none;
    margin-left: 0;
    width: 268px;
}
table .span5 {
    float: none;
    margin-left: 0;
    width: 346px;
}
table .span6 {
    float: none;
    margin-left: 0;
    width: 424px;
}
table .span7 {
    float: none;
    margin-left: 0;
    width: 502px;
}
table .span8 {
    float: none;
    margin-left: 0;
    width: 580px;
}
table .span9 {
    float: none;
    margin-left: 0;
    width: 658px;
}
table .span10 {
    float: none;
    margin-left: 0;
    width: 736px;
}
table .span11 {
    float: none;
    margin-left: 0;
    width: 814px;
}
table .span12 {
    float: none;
    margin-left: 0;
    width: 892px;
}
.well {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.well blockquote {
    border-color: rgba(0, 0, 0, 0.15);
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}
.collapse.in {
    height: auto;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20.5px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
.close:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none;
}
.btn {
    background-color: #E7E7E7;
    background-image: -moz-linear-gradient(center top , #ECECEC, #E0E0E0);
    background-repeat: repeat-x;
    border-color: rgba(5, 5, 5, 0.05) rgba(5, 5, 5, 0.15) rgba(5, 5, 5, 0.2);
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    color: rgba(47, 47, 47, 0.9);
    cursor: pointer;
    display: inline-block;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 18.5px;
    margin-bottom: 0;
    padding: 5px 18px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    vertical-align: middle;
}
.btn:first-child {
}
.btn:first-child {
}
.btn:hover {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    color: #000000;
    text-decoration: none;
}
.btn:focus {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
    color: #000000;
    outline: thin dotted currentcolor;
    outline-offset: -2px;
}
.btn:active {
    background-color: #ECECEC;
    background-image: none;
    border-color: rgba(5, 5, 5, 0.4) rgba(5, 5, 5, 0.4) rgba(5, 5, 5, 0.25) rgba(5, 5, 5, 0.25);
    box-shadow: none;
    color: inherit;
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn.disabled:hover, .btn[disabled]:hover {
    border-color: rgba(0, 0, 0, 0.1);
}
input.btn[type="submit"] {
    box-shadow: none;
    margin-right: 12px;
}
.btn-large {
    font-size: 15px;
    line-height: normal;
    padding: 8px 18px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    font-size: 12.5px;
    line-height: 18.5px;
    padding: 5px 10px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 12.5px;
    line-height: 16.5px;
    padding: 2px 6px;
}
.btn-block {
    -moz-box-sizing: border-box;
    display: block;
    margin-bottom: 10.25px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.btn-block + a {
    display: block;
}
input.btn-block[type="submit"], input.btn-block[type="reset"], input.btn-block[type="button"] {
    width: 100%;
}
.btn-danger, .btn-inverse {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-inverse:hover {
    color: #FFFFFF;
}
.btn-success, .btn-info, .btn-warning {
    color: #202020;
}
.btn-primary:hover, .btn-success:hover, .btn-info:hover, .btn-primary:hover {
    color: #000000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-dark.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #CADDF2;
    background-image: -moz-linear-gradient(center top , #DBE7F4, #B1D0F0);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #B1D0F0;
}
.btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #DBE7F4;
}
.btn-primary:hover, input.btn-primary[type="submit"]:hover, .btn-primary:focus {
    border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.45);
}
.btn-primary:active, input.btn-primary[type="submit"]:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #C1DAF4;
    box-shadow: none;
}
.btn-warning {
    background-color: #FFCF44;
    background-image: -moz-linear-gradient(center top , #FFD24E, #FFCC35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:focus {
    background-color: #FFCC35;
}
.btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #FFD24E;
}
.btn-danger {
    background-color: #D72229;
    background-image: -moz-linear-gradient(center top , #DF252D, #CD1E25);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #CD1E25;
}
.btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #DF252D;
}
.btn-success {
    background-color: #84C018;
    background-image: -moz-linear-gradient(center top , #8ACA1A, #7BB317);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:focus {
    background-color: #7BB317;
}
.btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #8ACA1A;
}
.btn-info {
    background-color: #8BC9E4;
    background-image: -moz-linear-gradient(center top , #94CDE6, #7FC3E1);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:focus {
    background-color: #7FC3E1;
}
.btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #94CDE6;
}
.btn-inverse {
    background-color: #3C3C3C;
    background-image: -moz-linear-gradient(center top , #505050, #1F1F1F);
    background-repeat: repeat-x;
    border-color: #010101;
}
.btn-inverse:hover, .btn-inverse:focus {
    background-color: #1F1F1F;
}
.btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #505050;
}
.btn-link, .btn-link:active, .btn-link[disabled], .btn-link:hover, .btn-link:focus {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
}
.btn-link {
    border-color: transparent;
    border-radius: 0 0 0 0;
    color: #006699;
    cursor: pointer;
}
.btn-link:hover, .btn-link:focus {
    background-color: transparent;
    color: #A1000C;
    text-decoration: underline;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus {
    color: #2F2F2F;
    text-decoration: none;
}
button.btn, input.btn[type="submit"] {
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
button.btn.large, input.btn.large[type="submit"] {
}
button.btn.small, input.btn.small[type="submit"] {
}
.form-actions > img, .btn-toolbar > img {
    vertical-align: middle;
}
.btn-group {
    position: relative;
}
.btn-group:before, .btn-group:after {
    content: "";
    display: table;
}
.btn-group:after {
    clear: both;
}
.btn-group:first-child {
}
.btn-group + .btn-group {
    margin-left: 5px;
}
.btn-toolbar {
    margin-bottom: 10.25px;
    margin-top: 10.25px;
}
.btn-toolbar .btn-group {
    display: inline-block;
}
.btn-group .btn {
    border-radius: 0 0 0 0;
    float: left;
    margin-left: -1px;
    position: relative;
}
.btn-group .btn:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.btn-group .btn:last-child, .btn-group .dropdown-toggle {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.btn-group .btn.large:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    margin-left: 0;
}
.btn-group .btn.large:last-child, .btn-group .large.dropdown-toggle {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.btn-group .btn:hover, .btn-group .btn:focus, .btn-group .btn:active, .btn-group .btn.active {
    z-index: 2;
}
.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
    outline: 0 none;
}
.btn-group .dropdown-toggle {
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.125) inset, 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-left: 8px;
    padding-right: 8px;
}
.btn-group.open {
}
.btn-group.open .dropdown-menu {
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin-top: 1px;
}
.btn-group.open .dropdown-toggle {
    background-image: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn .caret {
    margin-left: 0;
    margin-top: 7px;
}
.btn:hover .caret, .open.btn-group .caret {
    opacity: 1;
}
.btn-primary .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret {
    border-top-color: #FFFFFF;
    opacity: 0.75;
}
.btn-small .caret {
    margin-top: 4px;
}
.alert {
    background-color: #FFD24E;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 15px;
}
.alert > p:last-child {
    margin-bottom: 0;
}
.alert, .alert-heading {
    color: #222222 !important;
}
.alert a:link, .alert a:visited, .alert a:hover, alert a:active {
    color: #006699;
    text-decoration: underline;
}
.alert.alert-error a, .alert.alert-error a:hover, .alert.alert-error a:active, .alert.alert-danger a, .alert.alert-danger a:hover, .alert.alert-danger a:active {
    color: #FFFFFF;
}
.alert .close {
    line-height: 18px;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #8ACA1A;
    border-color: #95B317;
}
.alert-success, .alert-success .alert-heading {
    color: #222222 !important;
}
.alert-danger, .alert-error {
    background-color: #CD1E25;
    border-color: #C01C3E;
}
.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading {
    color: #FFFFFF !important;
}
.alert-info {
    background-color: #7FC3E1;
    border-color: #62C9DA;
}
.alert-info a {
    color: #006699;
}
.alert-info a:hover, .alert-info a:active {
    color: #EA0011;
}
.alert-info, .alert-info .alert-heading {
    color: #222222 !important;
}
.alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}
.alert-block > p, .alert-block > ul {
    margin-bottom: 0;
}
.alert-block p + p {
    margin-top: 5px;
}
.pagination {
    height: 41px;
    margin: 20.5px 0;
}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li {
    display: inline;
}
.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 39px;
    padding: 0 14px;
    text-decoration: none;
}
.pagination a:hover, .pagination .active a {
    background-color: #F5F5F5;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.pager {
    list-style: none outside none;
    margin-bottom: 20.5px;
    margin-left: 0;
    text-align: center;
}
.pager:before, .pager:after {
    content: "";
    display: table;
}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager a {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
}
.pager a:hover {
    background-color: #F5F5F5;
    text-decoration: none;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
#footer-nav {
    padding: 35px 0;
}
#footer-nav h3, #footer-nav a {
    color: #666666;
}
#copyright {
    background-color: black;
    color: #666666;
    padding: 10px 20px;
}
#copyright > .container > div {
    margin-top: 15px;
}
#copyright {
    text-align: center;
}
#copyright > .container > div {
    float: none;
    font-size: 12px;
    margin-top: 15px;
}
#footer-nav nav header h3 {
    display: block;
    text-align: center;
}
#footer-nav nav ul {
    display: block;
    text-align: center;
}
footer nav {
    margin-bottom: 15px !important;
}
footer nav > header {
    display: inline;
}
footer nav ul {
    margin-bottom: 5px;
}
footer nav h3, footer nav h4, footer nav h5 {
    display: inline;
    font-size: 14px;
}
footer nav ul {
    display: inline;
    margin: 0;
    padding: 0;
}
footer nav li {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
footer nav a {
    margin-left: 5px;
    white-space: nowrap;
}
footer nav > header a {
    margin-left: 0;
}
.tooltip {
    display: block;
    font-size: 11px;
    opacity: 0;
    padding: 5px;
    position: absolute;
    visibility: visible;
    z-index: 1020;
}
.tooltip.in {
    opacity: 0.8;
}
.tooltip.top {
    margin-top: -2px;
}
.tooltip.right {
    margin-left: 2px;
}
.tooltip.bottom {
    margin-top: 2px;
}
.tooltip.left {
    margin-left: -2px;
}
.tooltip.top .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #434343;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}
.tooltip.left .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #434343;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom: 5px solid #434343;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: -5px;
}
.tooltip.right .tooltip-arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #434343;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.tooltip-inner {
    background-color: #000000;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
}
.tooltip-arrow {
    height: 0;
    position: absolute;
    width: 0;
}
.dropdown {
    position: relative;
}
.dropdown-toggle {
}
.dropdown-toggle:active, .open .dropdown-toggle {
    outline: 0 none;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    content: "↓";
    display: inline-block;
    height: 0;
    opacity: 0.3;
    text-indent: -99999px;
    vertical-align: top;
    width: 0;
}
.dropdown .caret {
    margin-left: 2px;
    margin-top: 8px;
}
.dropdown:hover .caret, .open.dropdown .caret {
    opacity: 1;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.bottom-up {
    bottom: 100%;
    margin-bottom: 2px;
    top: auto;
}
.dropdown-menu .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 5px 1px;
    overflow: hidden;
}
.dropdown-menu a {
    clear: both;
    color: #555555;
    display: block;
    font-weight: normal;
    line-height: 20.5px;
    padding: 3px 15px;
    white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
    background-color: #006699;
    color: #FFFFFF;
    text-decoration: none;
}
.dropdown.open {
}
.dropdown.open .dropdown-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
}
.dropdown.open .dropdown-menu {
    display: block;
}
.typeahead {
    border-radius: 4px 4px 4px 4px;
    margin-top: 2px;
}
.popover {
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    z-index: 1010;
}
.popover.top {
    margin-top: -5px;
}
.popover.right {
    margin-left: 5px;
}
.popover.bottom {
    margin-top: 5px;
}
.popover.left {
    margin-left: -5px;
}
.popover.top .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #434343;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
}
.popover.right .arrow {
    border-bottom: 5px solid transparent;
    border-right: 5px solid #434343;
    border-top: 5px solid transparent;
    left: 0;
    margin-top: -5px;
    top: 50%;
}
.popover.bottom .arrow {
    border-bottom: 5px solid #434343;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 50%;
    margin-left: -5px;
    top: -5px;
}
.popover.left .arrow {
    border-bottom: 5px solid transparent;
    border-left: 5px solid #434343;
    border-top: 5px solid transparent;
    margin-top: -5px;
    right: 0;
    top: 50%;
}
.popover .arrow {
    height: 0;
    position: absolute;
    width: 0;
}
.popover-inner {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 3px;
    width: 280px;
}
.popover-title {
    background-color: #F5F5F5;
    border-bottom: 1px solid #EEEEEE;
    border-radius: 3px 3px 0 0;
    line-height: 1;
    padding: 9px 15px;
}
.popover-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 0 0 3px 3px;
    padding: 14px;
}
.popover-content p, .popover-content ul, .popover-content ol {
    margin-bottom: 0;
}
.thumbnails {
    list-style: none outside none;
    margin-left: -28px;
}
.thumbnails:before, .thumbnails:after {
    content: "";
    display: table;
}
.thumbnails:after {
    clear: both;
}
.thumbnails > li {
    float: left;
    margin: 0 0 20.5px 28px;
}
.thumbnail {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    line-height: 1;
    padding: 4px;
}
a.thumbnail:hover {
    border-color: #006699;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.thumbnail > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.thumbnail .caption {
    padding: 9px;
}
.label {
    background-color: #8A8B8C;
    border-radius: 3px 3px 3px 3px;
    color: white;
    font-size: 10.875px;
    font-weight: bold;
    padding: 0 6px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
}
.label:hover {
    text-decoration: none;
}
.label-important {
    background-color: #CD1E25;
}
.label-warning {
    background-color: #FFB02E;
}
.label-success {
    background-color: #8ACA1A;
}
.label-info {
    background-color: #7FC3E1;
}
.labels .label {
    margin-left: 4px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.clear-both {
    clear: both;
}
.nowrap {
    white-space: nowrap !important;
}
.left {
    text-align: left !important;
}
.center {
    text-align: center !important;
}
.right {
    text-align: right !important;
}
.invisible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
.hidden-desktop {
    display: none !important;
}
.visible-phone {
    display: inherit !important;
}
.hidden-phone {
    display: none !important;
}
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.visible-tablet {
    display: inherit !important;
}
.hidden-tablet {
    display: none !important;
}
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.is-under-481 {
    content: "true";
}
.nav-collapse {
}
.page-header h1 small {
    display: block;
    line-height: 20.5px;
}
input[type="checkbox"], input[type="radio"] {
    border: 1px solid #CCCCCC;
}
.form-horizontal .control-group > label {
    float: none;
    padding-top: 0;
    text-align: left;
    width: auto;
}
.form-horizontal .controls {
    margin-left: 0;
}
.form-horizontal .control-list {
    padding-top: 0;
}
.form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
}
.modal {
    left: 10px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: auto;
}
.modal.fade.in {
    top: auto;
}
.modal-header .close {
    margin: -10px;
    padding: 10px;
}
.carousel-caption {
    position: static;
}
.btn-block-phone {
    -moz-box-sizing: border-box;
    display: block;
    margin-bottom: 10.25px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
input.btn-block-phone[type="submit"], input.btn-block-phone[type="reset"], input.btn-block-phone[type="button"] {
    margin-bottom: 10.25px;
    width: 100%;
}
.is-under-767 {
    content: "true";
}
.container {
    padding: 0 20px;
    width: auto;
}
.input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    -moz-box-sizing: border-box;
    display: block;
    min-height: 28px;
    width: 100%;
}
.input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    width: auto;
}
.controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
}
.container-inset {
    padding: 0;
}
.row-fluid {
    width: 100%;
}
.row {
    margin-left: 0;
}
.row > [class*="span"], .row > .grid-wrapper, .row > .grid-wrapper > [class*="span"], .row > .grid-wrapper > div > [class*="span"], .row-fluid > [class*="span"] {
    display: block;
    float: none;
    margin: 0;
    width: auto;
}
.row-flush-right {
    margin-right: 0;
}
.row-flush-right .span-flush-right {
    padding-right: 0;
}
.gutter {
    margin-left: 20px;
}
.gutter-right {
    margin-right: 0;
}
.box-content {
    padding: 10px 20px;
}
.pull-right[class*="span"] {
    float: none;
}
.is-in-portrait {
    content: "true";
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.span1 {
    width: 42.5px;
}
.span2 {
    width: 105px;
}
.span3 {
    width: 167.5px;
}
.span4 {
    width: 230px;
}
.span5 {
    width: 292.5px;
}
.span6 {
    width: 355px;
}
.span7 {
    width: 417.5px;
}
.span8 {
    width: 480px;
}
.span9 {
    width: 542.5px;
}
.span10 {
    width: 605px;
}
.span11 {
    width: 667.5px;
}
.span12, .container {
    width: 730px;
}
.offset1 {
    margin-left: 82.5px;
}
.offset2 {
    margin-left: 145px;
}
.offset3 {
    margin-left: 207.5px;
}
.offset4 {
    margin-left: 270px;
}
.offset5 {
    margin-left: 332.5px;
}
.offset6 {
    margin-left: 395px;
}
.offset7 {
    margin-left: 457.5px;
}
.offset8 {
    margin-left: 520px;
}
.offset9 {
    margin-left: 582.5px;
}
.offset10 {
    margin-left: 645px;
}
.offset11 {
    margin-left: 707.5px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.762%;
}
.row-fluid > [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid > .span1 {
    width: 5.801%;
}
.row-fluid > .span2 {
    width: 14.365%;
}
.row-fluid > .span3 {
    width: 22.928%;
}
.row-fluid > .span4 {
    width: 31.492%;
}
.row-fluid > .span5 {
    width: 40.055%;
}
.row-fluid > .span6 {
    width: 48.619%;
}
.row-fluid > .span7 {
    width: 57.182%;
}
.row-fluid > .span8 {
    width: 65.746%;
}
.row-fluid > .span9 {
    width: 74.309%;
}
.row-fluid > .span10 {
    width: 82.873%;
}
.row-fluid > .span11 {
    width: 91.436%;
}
.row-fluid > .span12 {
    width: 100%;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 32.5px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 95px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 157.5px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 220px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 282.5px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 345px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 407.5px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 470px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 532.5px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 595px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 657.5px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 720px;
}
.row-flush-right {
    margin-right: -20px;
}
.row-flush-right .span-flush-right {
    padding-right: 20px;
}
body:first-of-type .row-flush-right .span-flush-right {
    padding-right: 19px;
}
.gutter {
    margin-left: 20px;
}
.gutter-right {
    margin-right: 10px;
}
.box-content {
    padding: 20px;
}
.is-under-979 {
    content: "true";
}
body {
    padding-top: 0;
}
.navbar-fixed-top {
    margin-bottom: 20.5px;
    position: static;
}
.navbar-fixed-top .navbar-inner {
    padding: 5px;
}
.navbar .brand {
    margin: 0 0 0 -5px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar .nav-collapse {
    clear: both;
}
.navbar .nav {
    float: none;
    margin: 0 0 10.25px;
}
.navbar .nav > li {
    float: none;
}
.navbar .nav > li > a {
    margin-bottom: 2px;
}
.navbar .nav > .divider-vertical {
    display: none;
}
.navbar .nav .nav-header {
    color: #E0E0E0;
    text-shadow: none;
}
.navbar-form, .navbar-search {
    border-bottom: 1px solid #202020;
    border-top: 1px solid #202020;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    float: none;
    margin: 10.25px 0;
    padding: 10.25px 15px;
}
.navbar .nav.pull-right {
    float: none;
    margin-left: 0;
}
.navbar-static .navbar-inner {
    padding-left: 10px;
    padding-right: 10px;
}
.nav-collapse {
    height: 0;
    overflow: hidden;
}
p.larger {
    font-size: 15.5px;
    line-height: 22.5px;
}
.is-above-980 {
    content: "true";
}
.is-above-1200 {
    content: "true";
}
.row {
    margin-left: -40px;
}
.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 40px;
}
.span1 {
    width: 58.5px;
}
.span2 {
    width: 157px;
}
.span3 {
    width: 255.5px;
}
.span4 {
    width: 354px;
}
.span5 {
    width: 452.5px;
}
.span6 {
    width: 551px;
}
.span7 {
    width: 649.5px;
}
.span8 {
    width: 748px;
}
.span9 {
    width: 846.5px;
}
.span10 {
    width: 945px;
}
.span11 {
    width: 1043.5px;
}
.span12, .container {
    width: 1142px;
}
.offset1 {
    margin-left: 138.5px;
}
.offset2 {
    margin-left: 237px;
}
.offset3 {
    margin-left: 335.5px;
}
.offset4 {
    margin-left: 434px;
}
.offset5 {
    margin-left: 532.5px;
}
.offset6 {
    margin-left: 631px;
}
.offset7 {
    margin-left: 729.5px;
}
.offset8 {
    margin-left: 828px;
}
.offset9 {
    margin-left: 926.5px;
}
.offset10 {
    margin-left: 1025px;
}
.offset11 {
    margin-left: 1123.5px;
}
.row-fluid {
    width: 100%;
}
.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
}
.row-fluid:after {
    clear: both;
}
.row-fluid > [class*="span"] {
    float: left;
    margin-left: 2.564%;
}
.row-fluid > [class*="span"]:first-child {
    margin-left: 0;
}
.row-fluid > .span1 {
    width: 5.983%;
}
.row-fluid > .span2 {
    width: 14.53%;
}
.row-fluid > .span3 {
    width: 23.077%;
}
.row-fluid > .span4 {
    width: 31.624%;
}
.row-fluid > .span5 {
    width: 40.171%;
}
.row-fluid > .span6 {
    width: 48.718%;
}
.row-fluid > .span7 {
    width: 57.265%;
}
.row-fluid > .span8 {
    width: 65.812%;
}
.row-fluid > .span9 {
    width: 74.359%;
}
.row-fluid > .span10 {
    width: 82.906%;
}
.row-fluid > .span11 {
    width: 91.453%;
}
.row-fluid > .span12 {
    width: 100%;
}
input.span1, textarea.span1, .uneditable-input.span1 {
    width: 48.5px;
}
input.span2, textarea.span2, .uneditable-input.span2 {
    width: 147px;
}
input.span3, textarea.span3, .uneditable-input.span3 {
    width: 245.5px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 344px;
}
input.span5, textarea.span5, .uneditable-input.span5 {
    width: 442.5px;
}
input.span6, textarea.span6, .uneditable-input.span6 {
    width: 541px;
}
input.span7, textarea.span7, .uneditable-input.span7 {
    width: 639.5px;
}
input.span8, textarea.span8, .uneditable-input.span8 {
    width: 738px;
}
input.span9, textarea.span9, .uneditable-input.span9 {
    width: 836.5px;
}
input.span10, textarea.span10, .uneditable-input.span10 {
    width: 935px;
}
input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1033.5px;
}
input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1132px;
}
.thumbnails {
    margin-left: -40px;
}
.thumbnails > li {
    margin-left: 40px;
}
.row-flush-right {
    margin-right: -40px;
}
.row-flush-right .span-flush-right {
    padding-right: 40px;
}
.gutter {
    margin-left: 40px;
}
.gutter-right {
    margin-right: 20px;
}
.box-content {
    padding: 40px;
}
.column-content section {
    margin-bottom: 25px;
}
.row-content {
    margin-bottom: 30px;
}
#content {
    min-height: 400px;
}
.page-header {
    padding-bottom: 0;
}
input, textarea {
}
input:focus, textarea:focus {
}
.side-block {
    background: none repeat scroll 0 0 #F0F0F0;
    color: #6E6E6E;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 20px;
}
.hero-unit {
    background-color: #F2F2F2;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    padding: 20px 25px;
}
.hero-unit h1 {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit p, .hero-unit .p {
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    margin-bottom: 20.5px;
}
.wizard-steps {
    margin: 5px 0 13px;
    overflow: hidden;
}
.wizard-steps li {
    background-color: #F0F0F0;
    color: #999999;
    float: left;
    font-size: 12px;
    font-weight: bold;
    list-style: none outside none;
    padding: 3px 21px;
    text-align: center;
    text-shadow: 0 1px 2px #FFFFFF;
}
.wizard-steps li.active {
    background-color: #D8D8D8;
    color: #000000;
}
.thumbnail-video {
    font-size: 14.5px;
}
.thumbnail-video.span2 {
    height: 148px;
}
.thumbnail-video.span2 .views-field-field-video-third-party-embed {
    height: 118px;
}
.thumbnail-video img {
    width: 100%;
}
.icon-loading {
    margin: 0 5px;
    vertical-align: middle;
}
ul.inline, ol.inline {
    list-style: none outside none;
    margin-left: 0;
}
ul.inline > li, ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.control-group.warning > label, .control-group.warning .help-block, .control-group.warning .help-inline {
    color: #FFD24E;
}
.control-group.warning input.warning, .control-group.warning select.warning, .control-group.warning textarea.warning {
    border-color: #FFD24E;
    color: #FFD24E;
}
.control-group.warning input.warning:focus, .control-group.warning select.warning:focus, .control-group.warning textarea.warning:focus {
    border-color: #FFC51B;
    box-shadow: 0 0 6px #FFECB4;
}
.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
    background-color: #FFD24E;
    border-color: #FFD24E;
    color: #FFD24E;
}
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #CD1E25;
}
.control-group.error input.error, .control-group.error select.error, .control-group.error textarea.error {
    border-color: #CD1E25;
    color: #CD1E25;
}
.control-group.error input.error:focus, .control-group.error select.error:focus, .control-group.error textarea.error:focus {
    border-color: #A1171D;
    box-shadow: 0 0 6px #E9686D;
}
.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
    background-color: #CD1E25;
    border-color: #CD1E25;
    color: #CD1E25;
}
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #8ACA1A;
}
.control-group.success input.success, .control-group.success select.success, .control-group.success textarea.success {
    border-color: #8ACA1A;
    color: #8ACA1A;
}
.control-group.success input.success:focus, .control-group.success select.success:focus, .control-group.success textarea.success:focus {
    border-color: #6B9D14;
    box-shadow: 0 0 6px #B8EA60;
}
.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
    background-color: #8ACA1A;
    border-color: #8ACA1A;
    color: #8ACA1A;
}
* {
    background: none repeat scroll 0 0 transparent !important;
    color: black !important;
    filter: none !important;
    text-shadow: none !important;
}
a, a:visited {
    color: #444444 !important;
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote footer nav thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
.hero-unit {
    background-color: #FFFFFF;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-bottom: 13px;
    padding: 0;
}
.hero-unit h1 {
    font-size: 26px;
}
.social-sharing > a {
    color: inherit;
    margin-left: 4px;
}
.social-sharing > a:hover {
    color: #A1000C;
    text-decoration: none;
}
@font-face {
    font-family: "openshift-icon";
    font-style: normal;
    font-weight: normal;
    src: url("/app/assets/openshift-icon.eot?#iefix") format("embedded-opentype"), url("/app/assets/openshift-icon-a512e46dbb592b834cf44bfa9809cf55.woff") format("woff"), url("/app/assets/openshift-icon-4abffa43fc399ad7f90063c93eba2069.ttf") format("truetype"), url("/app/assets/openshift-icon.svg#openshift-icon") format("svg");
}
[data-icon]:before {
    content: attr(data-icon);
    font-family: 'openshift-icon';
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-lock:before, .icon-unlock:before, .icon-outgoing-link:before, .icon-arrow-sm-right:before, .icon-arrow-sm-left:before, .icon-arrow-sm-down:before, .icon-arrow-sm-up:before, .icon-arrow-lg-right:before, .icon-data-store-part1:before, .icon-data-store-part2:before, .icon-non-scalable-part1:before, .icon-non-scalable-part2:before, .icon-scalable-part1:before, .icon-scalable-part2:before, .icon-gear-lg:before, .icon-gear-lg-sans-circle:before, .icon-gear-number-circle:before, .icon-gear-sm:before, .icon-gear-sm-sans-circle:before, .icon-web-stack-lg:before, .icon-restart:before, .icon-cartridge-part1:before, .icon-cartridge-part2:before, .icon-ci-arrows:before, .icon-ci-x:before, .icon-ci-check:before, .icon-ci-disabled:before, .icon-management-part2:before, .icon-management-part1:before, .icon-quickstart:before, .icon-start:before, .icon-stop:before, .icon-calendar:before, .icon-warning-sign:before, .icon-question-sign:before, .icon-search:before, .icon-twitter:before, .icon-facebook:before, .icon-google-plus:before, .icon-info-sign:before, .icon-bubbles:before, .icon-stackoverflow:before, .icon-code:before, .icon-github:before, .icon-angle-down:before, .icon-angle-up:before, .icon-angle-right:before, .icon-angle-left:before, .icon-plus:before, .icon-minus:before, .icon-system-signal-lg:before, .icon-system-lg:before, .icon-pencil:before, .icon-remove-circle:before, .icon-ban-circle:before, .icon-ok:before, .icon-remove:before, .icon-check:before, .icon-check-empty:before, .icon-download-alt:before, .icon-cloud:before, .icon-cogs:before, .icon-star-empty:before, .icon-bolt:before, .icon-time:before, .icon-busy:before, .icon-list-ol:before {
    font-family: 'openshift-icon';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    left: -4px;
    line-height: 1;
    margin-left: 4px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    text-transform: none;
}
.icon-lock:before {
    content: "";
}
.icon-unlock:before {
    content: "";
}
.icon-outgoing-link:before {
    content: "";
}
.icon-arrow-sm-right:before {
    content: "";
}
.icon-arrow-sm-left:before {
    content: "";
}
.icon-arrow-sm-down:before {
    content: "";
}
.icon-arrow-sm-up:before {
    content: "";
}
.icon-arrow-lg-right:before {
    content: "";
}
.icon-data-store-part1:before {
    content: "";
}
.icon-data-store-part2:before {
    content: "";
}
.icon-non-scalable-part1:before {
    content: "";
}
.icon-non-scalable-part2:before {
    content: "";
}
.icon-scalable-part1:before {
    content: "";
}
.icon-scalable-part2:before {
    content: "";
}
.icon-gear-lg:before {
    content: "";
}
.icon-gear-lg-sans-circle:before {
    content: "";
}
.icon-gear-number-circle:before {
    content: "";
}
.icon-gear-sm:before {
    content: "";
}
.icon-gear-sm-sans-circle:before {
    content: "";
}
.icon-web-stack-lg:before {
    content: "";
}
.icon-restart:before {
    content: "";
}
.icon-cartridge-part1:before {
    content: "";
}
.icon-cartridge-part2:before {
    content: "";
}
.icon-ci-arrows:before {
    content: "";
}
.icon-ci-x:before {
    content: "";
}
.icon-ci-check:before {
    content: "";
}
.icon-ci-disabled:before {
    content: "";
}
.icon-management-part2:before {
    content: "";
}
.icon-management-part1:before {
    content: "";
}
.icon-quickstart:before {
    content: "";
}
.icon-start:before {
    content: "";
}
.icon-stop:before {
    content: "";
}
.icon-calendar:before {
    content: "";
}
.icon-warning-sign:before {
    content: "";
}
.icon-question-sign:before {
    content: "";
}
.icon-search:before {
    content: "";
}
.icon-twitter:before {
    content: "";
}
.icon-facebook:before {
    content: "";
}
.icon-google-plus:before {
    content: "";
}
.icon-info-sign:before {
    content: "";
}
.icon-bubbles:before {
    content: "";
}
.icon-stackoverflow:before {
    content: "";
}
.icon-code:before {
    content: "";
}
.icon-github:before {
    content: "";
}
.icon-angle-down:before {
    content: "";
}
.icon-angle-up:before {
    content: "";
}
.icon-angle-right:before {
    content: "";
}
.icon-angle-left:before {
    content: "";
}
.icon-plus:before {
    content: "";
}
.icon-minus:before {
    content: "";
}
.icon-system-signal-lg:before {
    content: "";
}
.icon-system-lg:before {
    content: "";
}
.icon-pencil:before {
    content: "";
}
.icon-remove-circle:before {
    content: "";
}
.icon-ban-circle:before {
    content: "";
}
.icon-ok:before {
    content: "";
}
.icon-remove:before {
    content: "";
}
.icon-check:before {
    content: "";
}
.icon-check-empty:before {
    content: "";
}
.icon-download-alt:before {
    content: "";
}
.icon-cloud:before {
    content: "";
}
.icon-cogs:before {
    content: "";
}
.icon-star-empty:before {
    content: "";
}
.icon-bolt:before {
    content: "";
}
.icon-time:before {
    content: "";
}
.icon-busy:before {
    content: "";
}
.icon-list-ol:before {
    content: "";
}
.font-icon-block {
    display: inline-block;
    position: relative;
}
.font-icon-block .font-icon:nth-child(n+2) {
    left: 0;
    position: absolute;
    text-shadow: none;
    top: 0;
}
.font-icon {
    display: inline-block;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
    top: 0;
}
.font-icon.font-icon-inline {
    position: relative;
}
.font-icon .font-icon-link {
    color: inherit !important;
}
.gear-number {
    color: white;
    position: absolute;
}
.gear-number.gear-lg {
    font-size: 0.36em;
    left: 67%;
    line-height: 1.35em;
    top: 51%;
}
.gear-number.gear-sm {
    font-size: 0.36em;
    left: 67%;
    line-height: 1.45em;
    top: 50%;
}
.font-icon-red {
    color: #EA0011;
}
.font-icon-green {
    color: #73D216;
}
.font-icon-orange {
    color: #FFC10A;
}
.font-icon-blue {
    color: #6DB3C7;
}
.font-icon-grey {
    color: #8A8B8C;
}
.font-icon-white {
    color: #FEFEFE;
}
.font-icon-size-10 {
    font-size: 10px !important;
}
.font-icon-size-12 {
    font-size: 12px !important;
}
.font-icon-size-16 {
    font-size: 16px !important;
}
.font-icon-size-18 {
    font-size: 18px !important;
}
.font-icon-size-24 {
    font-size: 24px !important;
}
.font-icon-size-34 {
    font-size: 34px !important;
}
.font-icon-size-44 {
    font-size: 44px !important;
}
h1[class*="icon-"]:before, h2[class*="icon-"]:before {
    left: -8px;
    margin-left: 8px;
}
h3[class*="icon-"]:before, h4[class*="icon-"]:before, h5[class*="icon-"]:before {
    left: -6px;
    margin-left: 6px;
}
h1 .font-icon-block, h2 .font-icon-block, h3 .font-icon-block, h4 .font-icon-block, h5 .font-icon-block, h6 .font-icon-block {
    margin-right: 0.2em;
}
.alert .alert-heading .font-icon-block {
    bottom: 0;
}
h1.alert-heading .font-icon-block .font-icon {
    font-size: 41.5px;
}
h2.alert-heading .font-icon-block .font-icon {
    font-size: 35.5px;
}
h3.alert-heading .font-icon-block .font-icon {
    font-size: 29.5px;
}
h4.alert-heading .font-icon-block .font-icon {
    font-size: 24.5px;
}
h5.alert-heading .font-icon-block .font-icon {
    font-size: 19.5px;
}
dl.font-icon-legend {
    margin: 5px 0 0 40px;
}
dl.font-icon-legend dd {
    margin: 0 0 25px 18px;
}
dl.font-icon-legend dt .font-icon {
    font-size: 20px;
    margin: 0 15px 0 -20px;
}
